@model UpdateProductDTO
@{
	ViewData["Title"] = "UpdateProduct";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ürün İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Ürün Güncelle</div>
						</div>
                        <input type="hidden" asp-for="ProductId" />
						<div class="card-body">
							<div class="form-group">
								<label for="productname">Ürün Adını Girin.</label>
								<input type="text" class="form-control" asp-for="ProductName" id="productname" placeholder="Ürün Adı Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Ürün Fiyatını Girin.</label>
								<input type="text" class="form-control" asp-for="Price" id="price" placeholder="Ürün Fiyatını Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="imageurl">Ürün Görselini Girin.</label>
								<input type="text" class="form-control" asp-for="ImageURL" id="imageurl" placeholder="Ürün Görseli Girin">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="price">Ürün Kategorisini Seçin.</label>
								@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description">Ürün Açıklamasını Girin.</label>
								<input type="text" class="form-control" asp-for="Description" id="description" placeholder="Ürün Açıklamasını Girin">
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary btn-border btn-round">Ürünü Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
